
<div class="social-box">
 <div class="header">
   <h4><span>学校</span>部门教师列表</h4>
		<div class="pull-right">
			<button class="btn btn-success btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class="icon-plus"></i> 添加教师
			</button>
			<button class="btn btn-success btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-print"></i> 打印
			</button>

		</div>
	</div>
	<div class="body">

		<table class="table table-condensed">
			<thead>
				<tr>
					<th>序号</th>
					<th>教师姓名</th>
					<th>职务名称</th>
					<th>调入日期</th>
					<th>职务类型</th>					
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td><i class="icon-user"/></td>
					<td><input type="text" value="" class="input-small"/></td>
					<td><input type="text" value="2013-01-10" class="input-small"/></td>
					<td>
					 <select class="input-small">
					   <option>教师</option>
					   <option>负责人</option>
					   <option>职员</option>
					 </select>
					</td>
					
					<td>
                    <button class="btn" type="button">保存</button>
                    <button class="btn" type="button">取消</button>
                    </td>
				</tr>
				<tr>
					<td>1</td>
					<td>白雪非</td>
					<td>教师</td>
					<td>1990-7-1</td>
					<td>1教师</td>	
					<td>
                    <button class="btn" type="button">修改</button>
                    <button class="btn" type="button">删除</button>
                    </td>
				</tr>
				
			</tbody>
		</table>


	</div>