
<div class="social-box">
 <div class="header">
   <h4><span>学校</span>部门列表</h4>
		<div class="pull-right">
			<button class="btn btn-success btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class="icon-plus"></i> 创建部门
			</button>
			<button class="btn btn-success btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-print"></i> 打印
			</button>

		</div>
	</div>
	<div class="body">

		<table class="table table-condensed">
			<thead>
				<tr>
					<th>序号</th>
					<th>名称</th>
					<th>简称</th>
					<th>内线电话</th>
					<th>外线电话</th>
					<th>是否使用</th>
					<th>是否教研组</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td><input type="text" value="" class="input-small"/></td>
					<td><input type="text" value="" class="input-small"/></td>
					<td><input type="text" value="" class="input-small"/></td>
					<td><input type="text" value="" class="input-small"/></td>
					<td><input type="checkbox" checked class="input-small"/></td>
					<td><input type="checkbox" class="input-small"/></td>
					<td>
                    <button class="btn" type="button">保存</button>
                    <button class="btn" type="button">取消</button>
                    </td>
				</tr>
				<tr>
					<td>1</td>
					<td>教务处</td>
					<td>教务处</td>
					<td>001322</td>
					<td>132213456</td>
					<td>是</td>
					<td>否</td>
					<td>
                    <button class="btn" type="button">修改</button>
                    <button class="btn" type="button">删除</button>
                    </td>
				</tr>
				<tr>
					<td>2</td>
					<td><input type="text" value="信息中心" class="input-small"/></td>
					<td><input type="text" value="信息中心" class="input-small"/></td>
					<td><input type="text" value="132213456" class="input-small"/></td>
					<td><input type="text" value="003456" class="input-small"/></td>
					<td><input type="checkbox" checked class="input-small"/></td>
					<td><input type="checkbox" class="input-small"/></td>
					<td>
                    <button class="btn" type="button">保存</button>
                    <button class="btn" type="button">取消</button>
                    </td>
				</tr>
			</tbody>
		</table>


	</div>