<div class="row-fluid">

    <div class="social-box ">
        <div class="header">
            <h4><span>部门功能及人员维护</span></h4>
            <div class="tools">
                <ul id="myTab2" class="nav nav-tabs">
                    <li class="active ">
                        <a class="active" href="#deptmanage"
                        data-toggle="tab"><i class="icon-user"></i> 部门维护</a>
                    </li>
                    <li  style="display: none;">
                        <a href="#deptfunction" data-toggle="tab"><i
                        class="icon-edit"></i> 部门功能维护</a>
                    </li>
                    <li  style="display: none;">
                        <a href="#functionrole"  data-toggle="tab"><i
                        class=" icon-pencil"></i> 功能角色维护</a>
                    </li>
                    <li  style="display: none;">
                        <a href="#personrole"  data-toggle="tab"><i
                        class="icon-cog"></i> 人员角色维护</a>
                    </li>
                    <li >
                        <a href="#dept-teacher"  data-toggle="tab"><i
                        class="icon-tags"></i> 部门教师分配</a>
                    </li>
                    <li >
                        <a href="#teacheradjust"  data-toggle="tab"><i
                        class=" icon-share"></i> 教师部门调整</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="body">
            <div class="row-fluid">
                <div class="span3" >
                    <div class="content_wrap">
                        <div class="zTreeDemoBackground left">
                            <ul id="deptlist" class="ztree"></ul>
                        </div>
                    </div>
                </div>
                <div class="span9">
                	<div id="myTabContent2" class="tab-content">
                    <div class="tab-pane fade in active" id="deptmanage">
                        部门维护
                    </div>
                    <div class="tab-pane fade" id="deptfunction">
                        部门功能维护

                    </div>
                    <div class="tab-pane fade" id="functionrole">
                        功能角色维护

                    </div>
                    <div class="tab-pane fade" id="personrole">
                        人员角色维护

                    </div>
                    <div class="tab-pane fade" id="dept-teacher">
                        部门教师分配

                    </div>
                    <div class="tab-pane fade" id="teacheradjust">
                        教师部门调整

                    </div>
                </div>
                </div>

            </div>

        </div>
    </div>
</div>