
<div class="social-box">
 <div class="header">
   <h4><span>学校</span>人员角色维护</h4>
		<div class="pull-right">
			
			<button class="btn btn-success btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-print"></i> 打印
			</button>

		</div>
	</div>
	<div class="body">

		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>姓名</th>
					<th>负责人</th>					
					<th>教师</th>
					<th>教务人员</th>
					<th>功能</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>白雪非</td>
					<td><i class="icon-ok text-success"/></td>
					<td><i class="icon-remove text-error"/></td>
					<td><i class="icon-ok text-success"/></td>
					<td><input type="button" value="修改"/></td>
				</tr>
				<tr>
					<td>刘一平</td>
					<td><i class="icon-ok text-success"/></td>
					<td><i class="icon-remove text-error"/></td>
					<td><i class="icon-ok text-success"/></td>
					<td><input type="button" value="修改"/></td>
				</tr>
				<tr>
					<td>洋洋</td>
					<td><input type="checkbox" /></td>
					<td><input type="checkbox" /></td>
					<td><input type="checkbox" checked/></td>
					<td><input type="button" value="保存"/>
					<input type="button" value="取消"/></td>
				</tr>
			</tbody>
		</table>

  <div class="header">
   <h4><span>学校</span>编外人员角色维护</h4>
		<div class="pull-right">
			<button class="btn btn-success btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class="icon-plus"></i> 添加人员
			</button>
			<button class="btn btn-success btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-print"></i> 打印
			</button>

		</div>
	</div>
	<div class="body">

		<table class="table table-condensed table-bordered">
			<thead>
			
				<tr>
					<th>姓名</th>
					<th>负责人</th>					
					<th>教师</th>
					<th>教务人员</th>
					<th>功能</th>
				</tr>
			</thead>
			<tbody>
			<tr>   
			<td><i class="icon-user"/></td>					
					<td><input type="checkbox" /></td>
					<td><input type="checkbox" /></td>
					<td><input type="checkbox" checked/></td>
					<td><input type="button" value="保存"/>
					<input type="button" value="取消"/></td>
				</tr>
				<tr>
					<td>雪非</td>
					<td><i class="icon-ok text-success"/></td>
					<td><i class="icon-remove text-error"/></td>
					<td><i class="icon-ok text-success"/></td>
					<td><input type="button" value="修改"/></td>
				</tr>
				
				
			</tbody>
		</table>
	</div>