
		<div class="body">
			
 <div class="row-fluid">
 	<div class="span12">
 		<h4 class="inCenter"><span>学校</span>人员调动记录</h4>
 	</div>
 	</div>
   <div class="row-fluid">
 	<div class="span12">
		<div class="pull-right">		
			<button class="btn btn-primary btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-print"></i> 打印
			</button>

		</div>
	</div>
	</div>
  <div class="row-fluid">
 	<div class="span12">
		<table class="table table-bordered table-condensed table-hover">
			<thead>
				<tr  class="headColor">
					<th class="listNum">序号</th>
					<th>职工号</th>
					<th>教师姓名</th>
					<th>原部门</th>					
					<th>新部门</th>
					<th>调动日期</th>
					
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<td class="inCenter">1</td>
					<td>1983008</td>
					<td>白雪非</td>
					
					<td>政治教研组</td>
					<td>语文教研组</td>	
					<td class="inCenter">2012-04-16</td>
				</tr>
				
			</tbody>
		</table>
</div>
</div>

	</div>