<div class="row-fluid">
    <div class="social-box">
        <div class="header">
            <h4><span>教师信息自我完善</span></h4>
            <div class="tools">
                <ul id="myTab2" class="nav nav-tabs">
                    <li class="active" id="baseinformation">
                        <a class="baseinf" href="#baseinf"
                        data-toggle="tab"><i class="icon-user"></i> 基本信息</a>
                    </li>
                    <li id="personexp">
                        <a href="#resume" data-toggle="tab"><i
                        class="icon-list-alt"></i> 个人简历</a>
                    </li>
                    <li id="family">
                        <a href="#relationship" data-toggle="tab"><i
                        class=" icon-fullscreen" ></i> 家庭社会关系</a>
                    </li>
                    <li id="advantage">
                        <a href="#hobby" data-toggle="tab"><i
                        class="icon-star" ></i> 爱好特长</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div id="myTabContent2" class="tab-content">
                <div class="tab-pane fade in active" id="baseinf">
                    基本信息
                </div>
                <div class="tab-pane fade" id="resume">
                    个人简历
                </div>
                <div class="tab-pane fade" id="relationship">
                    家庭社会关系
                </div>
                <div class="tab-pane fade" id="hobby">
                    爱好特长
                </div>
            </div>
        </div>
    </div>
</div>
