<!-- 爱好特长 -->
<div class="row-fluid" id="myhobby">
<div class="row-fluid pull-right">
    <button type="button" class="btn btn-success">添加</button>
</div>
  <table class="table table-condense">
    <thead>
     <tr>
     <th>爱好特长</th>
     <th>爱好程度</th>
     <th>备注</th>
     <th>功能</th>
     </tr>
    </thead>
    <tbody>
    <tr>
      <td>
      <select  class="input-small" >
   <option value="68">唱歌</option>
<option value="69">电脑</option>
<option value="70">音乐</option>
<option value="71">绘画</option>
<option value="72">篮球</option>
<option value="73">排球</option>
<option value="77">摄影</option>
<option value="78">书法</option>
<option value="88">其它</option>
</select>
     </td>
      <td><select  class="input-small" >
      <option value="89">未知</option>
<option value="90">一般</option>
<option value="91">熟练</option>
<option value="92">精通</option>
</select></td>
    
      <td>
    <textarea style="height:60px" rows="3"></textarea>
   </td>
      <td>
      <button type="button" class="btn btn-primary">保存</button>
      <button type="button" class="btn btn-primary">取消</button>
      </td>
     </tr>
     <tr>
      <td>唱歌</td>
      <td>一般</td>
      <td>非常喜欢</td>
      <td>
      <button type="button" class="btn btn-primary">修改</button>
      <button type="button" class="btn btn-primary">删除</button>
      </td>
     </tr>
    </tbody>
  </table>
  
</div>