<div class="row-fluid">

<div class="social-box">

	<div class="body">
	<ul id="myTab" class="nav nav-tabs">
				        <li class="active"><a class="active" href="#addteacher"
					data-toggle="tab"><i class=" icon-plus"></i> 添加新教师</a></li>
						
						<li><a href="#addpicture" data-toggle="tab"><i
						class=" icon-share"></i> 照片导入</a></li>
						
			</ul>
		<div id="myTabContent" class="tab-content">
			
			<div class="tab-pane fade in active" id="addteacher">
			啊啊v
			</div>
			<div class="tab-pane fade" id="addpicture">
			啊啊
			</div>
			</div>
		</div>
</div>
</div>
			
			