<div class="row-fluid">

<div class="social-box">
    <div class="header">
		 <h4><span>教师维护</h4>
		<div class="tools">
			<ul id="myTab2" class="nav nav-tabs">
				  <li class="active"><a class="active" href="#addteacher"
					data-toggle="tab"><i class=" icon-plus"></i> 添加新教师</a></li>
						
						<li><a href="#addpicture" data-toggle="tab"><i
						class=" icon-share"></i> 照片导入</a></li>
						
			</ul>
		</div>

	</div>
	<div class="body">
		<div id="myTabContent" class="tab-content">
			
			<div class="tab-pane fade in active" id="addteacher">
			
			</div>
			<div class="tab-pane fade" id="addpicture">
			
			</div>
			</div>
		</div>
</div>
</div>
			
			