
	<div class="body">
		<div class="row-fluid">
		 <div class="span12">
		 	<h4 class="inCenter">在职教师列表</h4>
		 </div>
		
	</div>
		 <div class="row-fluid">
		<div class="span12">
		 <div class="pull-right">
			
			<button class="btn btn-primary btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-print"></i> 打印
			</button>

		</div>
		</div>
		<div class="row-fluid">
		<div class="span12">
		<table class="table table-bordered table-condensed table-hover">
			<thead>
				<tr class="headColor">
					<th>序号</th>
					<th>职工号</th>
					<th>教师姓名</th>	
					<th>文化程度</th>				
					<th>在岗</th>
					<th>编制类别</th>
					<th>部门名称-职务名称</th>		
				</tr>
			</thead>
			<tbody>
				<tr>					
					<td class="inCenter">1</td>
					<td>19901221</td>
					<td><a href="#" class="personname">白雪非</a></td>
					<td>硕士</td>
					<td class="inCenter">是</td>
					<td>专任教师</td>
					<td>教务处-副主任，语文教研组-组长, 顾问</td>
				</tr>
				<tr>					
					<td class="inCenter">2</td>
					<td>19901221</td>
					<td><a href="#" class="personname">雪非</a></td>
					<td>硕士</td>
					<td class="inCenter">-</td>
					<td>专任教师</td>
					<td>教务处-副主任，语文教研组-组长, 顾问</td>
				</tr>
				
			</tbody>
		</table>
   </div>
   </div>
	</div>
