<div>
	
	<div class="body">
		<div class="row-fluid">
		 <div class="span12">
		 	<h4 class="inCenter">部门负责人列表</h4>
		 </div>
		
	</div>
		 <div class="row-fluid">
		<div class="span12">
		 <div class="pull-right">
			
			<button class="btn btn-primary btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-print"></i> 打印
			</button>

		</div>
		</div>
		</div>
		<div class="row-fluid">
		<div class="span12">
		<table class="table table-bordered table-condensed table-hover">
			<thead>
				<tr class="headColor">
					<th class="listNum">序号</th>
					<th>教师姓名</th>					
					<th>职务名称</th>
					<th>职务类型</th>
					<th>调入日期</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>					
					<td class="inCenter">1</td>
					<td><a href="#" class="personname">白雪非</a></td>
					<td></td>
					<td>小组长</td>
					<td class="inCenter">2012-10-12</td>
				</tr>
				<tr>
					<td class="inCenter">2</td>
					<td><a href="#" class="personname">刘一平</a></td>
					<td>负责人</td>
					<td>组长</td>
					<td class="inCenter">2011-10-12</td>
				</tr> 
				
			</tbody>
		</table>
     </div>
     </div>
	</div>
