 <div class="row-fluid">
                            <!-- BEGIN BORDERED TABLE EXAMPLE -->
                            <div class="span12">
                              <div >
                                <!-- <div class="header">
                                  <h4>通知列表</h4>
                                  <div class="tools">
                                    <button class="btn btn-success btn-small" data-toggle="collapse" data-target="#advanced-search"><i class="icon-print"></i> 打印</button>
                                   </div>
                                </div> -->
                                <div class="body">
                                <div class="pull-right">
                                    <button class="btn btn-success btn-small" data-toggle="collapse" data-target="#advanced-search"><i class="icon-print"></i> 打印</button>
                                   </div>
                                  <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th>序号</th>
                                        <th>发布单位</th>
                                        <th>通知类别</th>
                                        <th>发布人</th>
                                        <th>通知级别</th>
                                        <th>发布日期</th>
                                        <th>有效期</th> 
                                        <th>创建时间</th>
                                       <th>最后修改时间</th>                                      
                                      </tr>
                                    </thead>
                                    <tbody>
                                    	<tr>
                                    	<td rowspan="2">1</td>                                       
                                        <td>教务处</td>
                                        <td>教务信息</td>
                                        <td>Mark</td>
                                        <td>普通级别</td>
                                        <td>2013-06-26</td>                                    
                                        <td>1月</td>
                                        <td>2013-06-27</td>                                    
                                        <td>2013-06-28</td>
                                        </tr>
                                      <tr>                                     
                                        <td colspan="7">主题:<a href="#">成绩测试-语文可以设置填报格式并开始填报成绩了</a></td>
                                       <td><button type="button" class="btn btn-mini">删除</button></td>
                                                                             
                                      </tr>
                                      <tr>
                                    	<td rowspan="2">2</td>                                       
                                        <td>教务处</td>
                                        <td>教务信息</td>
                                        <td>Mark</td>
                                        <td>普通级别</td>
                                        <td>2013-06-26</td>                                    
                                        <td>1天</td>
                                        <td>2013-06-27</td>                                    
                                        <td>2013-06-28</td>
                                        </tr>
                                      <tr>                                     
                                        <td colspan="7">主题:<a href="#">成绩测试-语文可以设置填报格式并开始填报成绩了</a></td>
                                        <td><button type="button" class="btn btn-mini">删除</button></td>
                                                                           
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                                <div class="pagination pagination-right pagination-small">
                                      <ul>
                                        <li><a href="#"> « </a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#"> » </a></li>
                                      </ul>
                                    </div>
                            </div>
 </div>