<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">通知详情</h4>
</div>
<div class="modal-body">
  <dl class="dl-horizontal">
     <dt>通知主题</dt>
     <dd>发布成绩</dd>
     <dt>发布单位</dt>
     <dd>学校</dd>
     <dt>通知类型</dt>
     <dd>教务信息</dd>
     <dt>发布人员</dt>
     <dd>雪飞</dd>
     <dt>发布日期</dt>
     <dd>2013-6-30</dd>
     <dt>相关附件</dt>
     <dd></dd>
   </dl>
   <hr/>
   <div style="margin-left:100px">
    白雪飞,成绩1-语文成绩已全部提交，可对外发布成绩1-语文成绩已全部提交，可对外发布成绩1-语文成绩已全部提交，可对外发布
    </div>
     
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">关闭</button>
   
</div>