
<div class="row-fluid">
	<div class="span12">
		<!-- <div class="header">
                                    <h4>选择项维护</h4>
                                  </div> -->
		<div class="body">
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs nav-tabs-orange">
					<li class="active"><a href="#lA" data-toggle="tab"><i
							class="icon-home"></i> 通知级别</a></li>
					<li><a href="#lB" data-toggle="tab"><i class="icon-user"></i>
							通知类别</a></li>
					<li><a href="#lC" data-toggle="tab"><i
							class="icon-double-angle-right"></i> 有效期</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="lA">
						<!-- <div class="header">
                                        <button type="button" class="btn btn-success btn-small pull-right btn-additem"><i class="icon-plus"></i> 添加</button>
                                        </div> -->
						<button type="button"
							class="btn btn-success btn-small pull-right btn-additem">
							<i class="icon-plus"></i> 添加
						</button>
						<table cellpadding="0" cellspacing="0" border="0"
							class="table table-striped table-bordered" id="editable">
							<thead>
								<tr>
									<th>序号</th>
									<th>名称</th>
									<th>备注</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody id="noticelevel">
								<tr id="data1" class="odd gradeX">
									<td>1</td>
									<td>普通通知</td>
									<td>数学可以设置填报格式并开始填报成绩了</td>
									<td>
										<button type="button" class="btn btn-mini">修改</button>
										<button type="button" class="btn btn-mini">禁用</button>
									</td>


								</tr>
								<tr id="data2" class="odd gradeX">
									<td>2</td>
									<td>紧急通知</td>
									<td>成绩测试-语文可以设置填报格式并开始填报成绩了</td>
									<td>
										<button type="button" class="btn btn-mini">修改</button>
										<button type="button" class="btn btn-mini">启用</button>
									</td>
								</tr>
								<tr id="data2" class="odd gradeX">
									<td>3</td>
									<td><input type="text" value="紧急通知"></td>
									<td><input type="text" value="语文可以设置填报格式"></td>
									<td>
										<button type="button" class="btn btn-mini">保存</button>
										<button type="button" class="btn btn-mini">取消</button>
										<button type="button" class="btn btn-mini">禁用</button>
									</td>
								</tr>
							</tbody>

						</table>

					</div>
					<div class="tab-pane" id="lB">
						<!-- <div class="header">
                                        <button type="button" class="btn btn-success btn-small pull-right"><i class="icon-plus"></i> 添加</button>
                                        </div> -->
						<button type="button"
							class="btn btn-success btn-small pull-right btn-additem">
							<i class="icon-plus"></i> 添加
						</button>
						<table cellpadding="0" cellspacing="0" border="0"
							class="table table-striped table-bordered" id="editable">
							<thead>
								<tr>
									<th>序号</th>
									<th>名称</th>
									<th>备注</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody>
								<tr id="data1" class="odd gradeX">
									<td>1</td>
									<td>全部</td>
									<td></td>
									<td>
										<button type="button" class="btn btn-mini">修改</button>
										<button type="button" class="btn btn-mini">启用</button>
									</td>

								</tr>
								<tr id="data2" class="odd gradeX">
									<td>2</td>
									<td><input value="教务信息" /></td>
									<td><input value="" /></td>
									<td>
										<button type="button" class="btn btn-mini">保存</button>
										<button type="button" class="btn btn-mini">取消</button>
										<button type="button" class="btn btn-mini">禁用</button>
									</td>
								</tr>

							</tbody>

						</table>
					</div>
					<div class="tab-pane" id="lC">
						<!-- <div class="header">
                                        <button type="button" class="btn btn-success btn-small pull-right"><i class="icon-plus"></i> 添加</button>
                                        </div> -->
						<button type="button" class="btn btn-success btn-small pull-right">
							<i class="icon-plus"></i> 添加
						</button>
						<table cellpadding="0" cellspacing="0" border="0"
							class="table table-striped table-bordered" id="editable">
							<thead>
								<tr>
									<th>序号</th>
									<th>名称</th>
									<th>备注</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody>
								<tr id="data1" class="odd gradeX">
									<td>1</td>
									<td>1天</td>
									<td>example1@example.com</td>
									<td>
										<button type="button" class="btn btn-mini">修改</button>
										<button type="button" class="btn btn-mini">禁用</button>
									</td>


								</tr>
								<tr id="data2" class="odd gradeX">
									<td>2</td>
									<td><input value="2天" /></td>
									<td><input value="" /></td>
									<td>
										<button type="button" class="btn btn-mini">保存</button>
										<button type="button" class="btn btn-mini">取消</button>
										<button type="button" class="btn btn-mini">禁用</button>
									</td>
								</tr>

							</tbody>

						</table>
					</div>
				</div>
			</div>
			<!-- /tabbable -->
		</div>
	</div>
</div>


