<div class="row-fluid">
	<div>
		<!-- <div class="header">
                                  <h4>通知列表</h4>
                                  <div class="tools">
                                    <button class="btn btn-success btn-small" data-toggle="collapse" data-target="#advanced-mark"><i class="icon-ok-circle"></i>全部标记为已读状态</button>
                                    <button class="btn btn-success btn-small" data-toggle="collapse" data-target="#advanced-search"><i class=" icon-print"></i> 打印</button>
                                   </div>
                                </div> -->
		<div class="body">
			<div class="pull-right">
				<button class="btn btn-success btn-small" data-toggle="collapse"
					data-target="#advanced-mark">
					<i class="icon-ok-circle"></i>全部标记为已读状态
				</button>
				<button class="btn btn-success btn-small" data-toggle="collapse"
					data-target="#advanced-search">
					<i class=" icon-print"></i> 打印
				</button>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="7%">序号</th>
						<th width="10%">发布人</th>
						<th width="33%" colspan="2">主题</th>
						<th width="10%">发布单位</th>
						<th width="10%">通知类别</th>
						<th width="10%">通知级别</th>
						<th width="10%">发布日期</th>
						<th width="10%">有效期</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>白雪飞</td>
						<td><i class="icon-envelope"></i></td>
						<td><a href="#" id="item1">成绩测试-语文可以设置填报格式并开始填报成绩了</a></td>
						<td>教务处</td>
						<td>教务信息</td>
						<td>普通级别</td>
						<td>2013-06-27</td>
						<td>1天</td>
					</tr>
					<tr>
						<td>2</td>
						<td>雪飞</td>
						<td></td>
						<td><a href="#">成绩测试-语文可以设置填报格式并开始填报成绩了</a></td>
						<td>教务处</td>
						<td>教务信息</td>
						<td>普通级别</td>
						<td>2013-06-30</td>
						<td>10天</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="pagination pagination-right pagination-small">
			<ul>
				<li><a href="#"> « </a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"> » </a></li>
			</ul>
		</div>
	</div>
</div>
