<div class="row-fluid">
    <div class="social-box">
        <div class="header">
            <h4><span>学生基本信息</span></h4>
            <div class="tools">
                <ul id="myTab2" class="nav nav-tabs">
                    <li class="active" id="baseinformation">
                        <a class="baseinf" href="#baseinf"
                        data-toggle="tab"><i class="icon-user"></i> 基本信息</a>
                    </li>
                    <li id="personexp">
                        <a href="#resume" data-toggle="tab"><i
                        class="icon-list-alt"></i> 简历信息</a>
                    </li>
                    <li id="family">
                        <a href="#relationship" data-toggle="tab"><i
                        class=" icon-fullscreen" ></i> 家庭成员</a>
                    </li>
                    <li id="advantage">
                        <a href="#hobby" data-toggle="tab"><i
                        class="icon-star" ></i> 兴趣特长</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div id="myTabContent2" class="tab-content">
                <div class="tab-pane fade in active" id="baseinf">
                    <div class="row-fluid">
                    	<div class="span12">
                    		<div class="span2">
                    			<ul id="lTree1" class="nav">
							<li class="treeLeaf">
								<i class="icon-folder-open"></i><span>当前使用的届</span>
								<ul id="lTree2" class="nav">
									<li >
										<i class="icon-book"></i><span><a data-bypass >    高中2015届[高一](43)</a> </span>
									</li>
									<li >
										<i class="icon-book"></i><span> <a data-bypass >   高中2014届[高二](31)</a></span>
									</li>
									
								</ul>
							</li>
							<li class="treeLeaf">
								<i class="icon-folder-open"></i><span>当前未使用的届</span>
								<ul id="lTree2" class="nav">
									<li >
										<i class="icon-book"></i><span><a data-bypass >    高中2013届[高三](41)</a> </span>
									</li>
									<li >
										<i class="icon-book"></i><span> <a data-bypass >   高中2012届[已毕业](21)</a></span>
									</li>
									<li >
										<i class="icon-book"></i><span> <a data-bypass >   高中2011届[已毕业]</a></span>
									</li>
									<li >
										<i class="icon-book"></i><span> <a data-bypass >   高中2010届[已毕业]</a></span>
									</li>
								</ul>
							</li>
						</ul>

                    		</div>
                    	    <div class="span10" id="newbaseinf">
                    	    
                    	    </div>
                    	</div> 
                    </div>	
                </div>
                <div class="tab-pane fade" id="resume">
                    个人简历
                </div>
                <div class="tab-pane fade" id="relationship">
                    家庭社会关系
                </div>
                <div class="tab-pane fade" id="hobby">
                    爱好特长
                </div>
            </div>
        </div>
    </div>
</div>
