.headColor {
	background-color: rgb(34, 121, 201);
	color: white;
}

tr.headColor th {
	text-align:center;
	vertical-align: middle;
}

.inCenter, th.inCenter, td.inCenter {
	text-align:center;
}

td.inRight {
	text-align:right;
}

th.listNum {
	width:40px;
}
input.aligntop {
    vertical-align: top;
}
