.headColor {
	background-color: rgb(34, 121, 201);
	color: white;
}

tr.headColor th {
	text-align:center;
	vertical-align: middle;
}

.inCenter, th.inCenter, td.inCenter {
	text-align:center;
}

td.inRight {
	text-align:right;
}

th.listNum, td.listNum {
	width:40px;
}
input.aligntop {
    vertical-align: top;
}
div.portal{
	margin:5px;
	position: absolute;
	padding: 5px;
	width: 310px;
	height: 310px;
	overflow-x:auto;x§
}
div.portalSmall {
	background:green;
}
div.portalMiddle {
	width: 310px;
	height: 150px;
	background:#99CCFF;
}
div.portalLarge {
	background:#EE9999;
	width: 630px;
	height: 310px;
}
div.drawer-wrapper{
	position: fixed;
	background :#00ECFF;
	bottom: -52px;
	width: 20%;
	height: 100px;
	z-index: 10000;
	right:0px;
	-khtml-opacity: 0.55;
	-moz-opacity: 0.55;
	opacity: 0.55;
	filter: alpha(opacity=55);
}
div.showdrawer{
	bottom: 0px;
	width: 80%;
	background : #356635;
	-khtml-opacity: 0.95;
	-moz-opacity: 0.95;
	opacity: 0.95;
	filter: alpha(opacity=95);
	
}
div.drawer-toggler {
	background: #000;
	color: #e5e5e5;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	padding: 10px 0;
	width: 140px;
	position: absolute;
	top: -30px;
	right: 10px;
}
