<html>
	<head>
		<title> 首页 | 博校文达 </title>
		<link href="/css/twitter-bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/css/mydemo.css" rel="stylesheet" type="text/css">
		<style media="print">
			#printHint, #printHint2 {
				display: none;
			}
		</style>
	</head>
	<body>
		<br />
		<div class="span8 offset2">
			<div class="alert alert-info" id="printHint">
				请选择浏览器的打印功能进行打印，点击“文件”-&gt;“打印预览”。
			</div>	
			<br />
			<h3 class="text-center">2013年7月</h3>
			<h4 class="text-center">(全部套账)</h4>
			<br />
			<div class="pull-right" id="printHint2">
				<button class="btn btn-primary">
					<i class=" icon-print icon-white"></i> 打印
				</button>
			</div>
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th width="35%" class="inCenter">分类</th>
						<th width="35%" class="inCenter">工资条目</th>
						<th class="inCenter">内容</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>基本工资</td>
						<td>岗位工资</td>
						<td class="inRight">2,000.00</td>
					</tr>
					<tr>
						<td rowspan="4" style="vertical-align:middle;">津贴</td>
						<td>薪级工资</td>
						<td class="inRight">500.00</td>
					</tr>
					<tr>
						<td>住房补贴</td>
						<td class="inRight">200.00</td>
					</tr>
					<tr>
						<td>优秀教师奖励</td>
						<td class="inRight">3,000.00</td>
					</tr>
					<tr>
						<td>数字教学评优</td>
						<td class="inRight">1,000.00</td>
					</tr>
					<tr>
						<td rowspan="3" style="vertical-align:middle;">课时费</td>
						<td>课时费1</td>
						<td class="inRight">20.00</td>
					</tr>
					<tr>
						<td>课时数</td>
						<td class="inRight">50</td>
					</tr>
					<tr>
						<td>课时费合计</td>
						<td class="inRight">1,000.00</td>
					</tr>
					<tr>
						<td>基本工资</td>
						<td>班主任津贴</td>
						<td class="inRight">1,000.00</td>
					</tr>
					<tr>
						<td colspan="2">实发工资</td>
						<td class="inRight">7,700.00</td>
					</tr>
					<tr>
						<td colspan="2">发放银行</td>
						<td>存入工行账户</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>