<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  dir="ltr" lang="en-US"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>ShadowBox - Home</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>
    <!--[if IE 7]><link href="css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" media="screen" /><![endif]-->
    
    <link rel="stylesheet" href="/css/portal/framework.css">
    <link rel="stylesheet" href="/css/portal/settings.css">
    <link rel="stylesheet" href="/css/portal/style.css">
	<link href="/css/twitter-bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/css/mydemo.css" rel="stylesheet" type="text/css">
	<link href="/js/lib/jquery/jquery.isotope/isotope.style.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="index" style="">

		<div class="wrapper clearfix">
			
			<header id="main" class="full_width">
				<h1 class="logo">
					<a href="./ShadowBox - Home.html">
						Shadow<span>box.</span> <small>This can be a tagline.</small>
					</a>
				</h1>
			</header>
			
			<section class="content clearfix">
			
				<div class="wide-bannercontainer revolution">
				  <div class="wide-banner revslider-initialised tp-simpleresponsive hovered" style="height: 440px;">
				  <ul style="display: block;">
				  	<li data-transition="fade" style="visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
				  		<div class="slotholder"><img src="./bg.png" alt="bg1" class="defaultimg" style="width: 1036.2272727272727px; height: 447px; position: relative; top: 0px; left: -8px; opacity: 1;"></div>
				  		<div class="caption lfr start tp-caption" data-x="0" data-y="15" data-speed="800" data-start="0" data-easing="easeOutExpo" style="opacity: 1; left: 0px; top: 15px; -webkit-transform: rotate(0deg); visibility: visible;">
				  			<img src="./devices.png" alt="Devices" width="1020" height="440" style="width: 1020px; height: 440px;">
				  		</div>
				  		<div class="caption sfl start big light align-right tp-caption" data-x="175" data-y="100" data-speed="500" data-start="500" data-easing="easeOutExpo" style="font-size: 46px; padding: 0px; margin: 0px; border: 0px; line-height: 50px; white-space: nowrap; opacity: 1; left: 175px; top: 100px; -webkit-transform: rotate(0deg); visibility: visible;">
				  			Ultra<br>Responsive
				  		</div>
				  		<div class="caption sfl start tp-caption" data-x="300" data-y="280" data-speed="500" data-start="700" data-easing="easeOutExpo" style="font-size: 14px; padding: 0px; margin: 0px; border: 0px; line-height: 26px; white-space: nowrap; opacity: 1; left: 300px; top: 280px; -webkit-transform: rotate(0deg); visibility: visible;">
				  			<a href="http://www.madeinebor.com/shadowbox/portfolio.html" class="shadowbox-button">Read More</a>
				  		</div>
				  		<div class="caption sfl start align-right tp-caption" data-x="225" data-y="205" data-speed="500" data-start="600" data-easing="easeOutExpo" style="font-size: 14px; padding: 0px; margin: 0px; border: 0px; line-height: 26px; white-space: nowrap; opacity: 1; left: 225px; top: 205px; -webkit-transform: rotate(0deg); visibility: visible;">
				  			Looks amazing on any device,<br>from desktop to mobile!
				  		</div>
				  	</li>
				  	<li data-transition="fade">
				  		<div class="slotholder"><img src="./bg.png" alt="bg1" class="defaultimg" style="width: 1020px; height: 440px; position: absolute; top: 0px; left: 0px; opacity: 0;"></div>
				  		<div class="caption lfl start tp-caption" data-x="-15" data-y="15" data-speed="800" data-start="500" data-easing="easeOutExpo">
				  			<img src="./plane.png" alt="Plane" width="1020" height="440" style="width: 1020px; height: 440px;">
				  		</div>
				  		<div class="caption sfr start big light tp-caption" data-x="565" data-y="100" data-speed="500" data-start="1000" data-easing="easeOutExpo">
				  			Super<br>Lightweight
				  		</div>
				  		<div class="caption sfr start tp-caption" data-x="565" data-y="280" data-speed="500" data-start="1200" data-easing="easeOutExpo">
				  			<a href="http://www.madeinebor.com/shadowbox/portfolio.html" class="shadowbox-button">Read More</a>
				  		</div>
				  		<div class="caption sfr start tp-caption" data-x="565" data-y="205" data-speed="500" data-start="1100" data-easing="easeOutExpo">
				  			Beautiful CSS3 animations<br>&amp; precision jQuery power ShadowBox
				  		</div>
				  	</li>
				  	<li data-transition="fade">
				  		<div class="slotholder"><img src="./bg.png" alt="bg1" class="defaultimg" style="width: 1020px; height: 440px; position: absolute; top: 0px; left: 0px; opacity: 0;"></div>
				  		<div class="caption lfr start tp-caption" data-x="0" data-y="15" data-speed="800" data-start="500" data-easing="easeOutExpo">
				  			<img src="./heart.png" alt="Heart" width="1020" height="440" style="width: 1020px; height: 440px;">
				  		</div>
				  		<div class="caption sfl start big align-right light tp-caption" data-x="190" data-y="100" data-speed="500" data-start="1000" data-easing="easeOutExpo">
				  			Minimal<br>At It's Best
				  		</div>
				  		<div class="caption sfl start tp-caption" data-x="295" data-y="280" data-speed="500" data-start="1200" data-easing="easeOutExpo">
				  			<a href="http://www.madeinebor.com/shadowbox/portfolio.html" class="shadowbox-button">Read More</a>
				  		</div>
				  		<div class="caption sfl start align-right tp-caption" data-x="190" data-y="205" data-speed="500" data-start="1100" data-easing="easeOutExpo">
				  			Super clean and fresh, with lots of<br>space for your creativity.
				  		</div>
				  	</li>
				  	<li data-transition="fade" data-delay="4300" style="visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 0;">
				  		<div class="slotholder"><img src="./bg.png" alt="bg1" class="defaultimg" style="width: 1020px; height: 440px; position: absolute; top: 0px; left: 0px; opacity: 0;"></div>
				  		<div class="caption lft fadeout start tp-caption" data-x="0" data-y="-505" data-speed="1800" data-start="0" data-easing="easeOutExpo" data-end="4000" data-endspeed="500" style="opacity: 0; visibility: hidden;">
				  			<img src="./sl4_bg.png" alt="Bg" width="1020" height="1460" style="width: 1020px; height: 1460px;">
				  		</div>
				  		<div class="caption sft fadeout start big centered light white tp-caption" data-x="center" data-y="140" data-speed="500" data-start="800" data-easing="easeOutExpo" data-end="4000" data-endspeed="500" style="opacity: 0; visibility: hidden;">
				  			Let Your<br>Creativity Flow
				  		</div>
				  		<div class="caption sfb fadeout start tp-caption" data-x="center" data-y="260" data-speed="500" data-start="1100" data-easing="easeOutExpo" data-end="4000" data-endspeed="500" style="opacity: 0; visibility: hidden;">
				  			<a href="http://www.madeinebor.com/shadowbox/portfolio.html" class="shadowbox-button button-light huge">Read More</a>
				  		</div>
				  	  </li>
				    </ul>
				    <div class="tp-timer-wrapper" style="width: 255px; left: 0px;"><div class="tp-bannertimer tp-bottom" style="width: 100%;"></div></div>
				  <div class="tp-loader" style="display: none;"></div></div>
				  <!-- /.wide-banner --> 
				<div class="tp-bullets simplebullets round" style="bottom: 0px; left: 0px;"><div class="bullet first selected" style="width: 255px;"><span>1</span></div><div class="bullet" style="width: 255px;"><span>2</span></div><div class="bullet" style="width: 255px;"><span>3</span></div><div class="bullet last" style="width: 255px;"><span>4</span></div><div class="tpclear"></div></div><div style="visibility: hidden;" class="tp-leftarrow tparrows round"></div><div style="visibility: hidden;" class="tp-rightarrow tparrows round"></div></div>
				<!-- /.wide-bannercontainer -->
				<!--
				<div id="index-carousel" class="carousel-wrapper clearfix">
					<h3 class="epsilon">Recent Projects</h3>
					
					<nav class="carousel-nav">
						<ul>
							<li>
								<a href="http://www.madeinebor.com/shadowbox/index.html#prev"><i class="icon-angle-left"></i></a>
							</li>
							<li>
								<a href="http://www.madeinebor.com/shadowbox/index.html#next"><i class="icon-angle-right"></i></a>
							</li>
						</ul>
					</nav>
					
					<div class="carousel clearfix">
						<ul class="carousel-list three-dee clearfix" style="width: 1530px;">
							<li>
								<a href="http://www.madeinebor.com/shadowbox/single-portfolio.html">
									<img src="./1.jpg" alt="image">
								</a>
							</li>
							<li>
								<a href="http://www.madeinebor.com/shadowbox/single-portfolio.html">
									<img src="./2.jpg" alt="image">
								</a>
							</li>
							<li class="translate-left">
								<a href="http://www.madeinebor.com/shadowbox/single-portfolio.html">
									<img src="./3.jpg" alt="image">
								</a>
							</li>
							<li class="translate-left">
								<a href="http://www.madeinebor.com/shadowbox/single-portfolio.html">
									<img src="./4.jpg" alt="image">
								</a>
							</li>
							<li>
								<a href="http://www.madeinebor.com/shadowbox/single-portfolio.html">
									<img src="./5.jpg" alt="image">
								</a>
							</li>
							<li>
								<a href="http://www.madeinebor.com/shadowbox/single-portfolio.html">
									<img src="./6.jpg" alt="image">
								</a>
							</li>
						</ul>
					</div>
				
				</div>
				<hr>
				-->
				</hr>
		
		
		
		<div id="container">
			<div class="portal portalSmall">
				今天		2013年8月21日
			</div>
			<div class="portal portalSmall">
				<div class="row-fluid">
				<div class="span3">
					北京
				</div>
				<div align="right">
					<div class="span5">
						29~22℃
					</div>
				</div>
				<div align="right">
					<div class="span9">
						小雨转多云
					</div>
					<div class="span6">
						微风
					</div>
				</div>
				</div>
			</div>

			<div class="portal portalSmall">
				个人信息
				<div align="center">
					<div style="width:100px;height:100px;background:blank;border:1px solid #888888"></div>
				</div>
				王超（天天开心）
				<div align="right">
					注销
				</div>
			</div>

			<div class="portal portalMiddle">

				<div class="row-fluid">
					<div class="span8">
						上级文件
					</div>
					<div class="span4">
						更多
					</div>
					<hr/>
					<hr/>
				</div>
				<div class="row-fluid">
					<div class="span8">
						第四周通知.doc
					</div>
					<div class="span4">
						2013-9-22
					</div>
				</div>
				<div class="row-fluid">
					<div class="span8">
						第三周通知.doc
					</div>
					<div class="span4">
						2013-9-15
					</div>
				</div>
				<div class="row-fluid">
					<div class="span8">
						招聘通知.doc
					</div>
					<div class="span4">
						2013-9-10
					</div>
				</div>
				<div class="row-fluid">
					<div class="span8">
						第二周通知.doc
					</div>
					<div class="span4">
						2013-9-8
					</div>
				</div>
				<div class="row-fluid">
					<div class="span8">
						第一周通知.doc
					</div>
					<div class="span4">
						2013-9-1
					</div>
				</div>
			</div>

			<div class="portal portalLarge">

				<div class="row-fluid">
					<div class="span4">
						周工作安排
					</div>
					<div class="span6">
						本周：第4周 8月19日-8月25日
					</div>
					<div class="span2">
						下周
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span4">
						周工作重点
					</div>
					<div class="span8">
						开学准备工作
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span4">
						8月19日（周一）
					</div>
					<div class="span8">
						未发布
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span4">
						8月20日（周二）
					</div>
					<div class="span8">
						未发布
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span4">
						8月21日（周三）
					</div>
					<div class="span8">
						报名
					</div>
					<hr/>
					<hr/>
				</div>

				

			</div>

			<div class="portal portalMiddle">

				<div class="row-fluid">
					<div class="span8">
						邮件（1/10）
					</div>
					<div class="span4">
						更多
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span8">
						新学期的准备工作请注意
					</div>
					<div class="span4">
						2013-8-21 白雪
					</div>
				</div>
			</div>

			<div class="portal portalMiddle">
				<div class="row-fluid">
					<div class="span8">
						设备维修（3/10）
					</div>
					<div class="span4">
						+ 更多
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span8">
						023 电脑
					</div>
					<div class="span4">
						待分派
					</div>
				</div>

				<div class="row-fluid">
					<div class="span8">
						045 显示器
					</div>
					<div class="span4">
						待维修
					</div>
				</div>

				<div class="row-fluid">
					<div class="span8">
						127 电脑
					</div>
					<div class="span4">
						待维修
					</div>
				</div>

			</div>

			<div class="portal portalSmall">

				<div class="row-fluid">
					<div class="span8">
						今日日程(3)
					</div>
					<div class="span4">
						进入
					</div>
				</div>

				<div class="row-fluid">
					<div class="span4">
						10：00
					</div>
					<div class="span4">
						语文课
					</div>
					<div class="span4">
						307
					</div>
				</div>

				<div class="row-fluid">
					<div class="span4">
						13：00
					</div>
					<div class="span4">
						语文课
					</div>
					<div class="span4">
						308
					</div>
				</div>

				<div class="row-fluid">
					<div class="span4">
						16：00
					</div>
					<div class="span4">
						开会
					</div>
					<div class="span4">
						411
					</div>
				</div>
			</div>

			<div class="portal portalMiddle">
				<div class="row-fluid">
					<div class="span8">
						车辆预约(1/20)
					</div>
					<div class="span4">
						+ 更多
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span4">
						京N300CP
					</div>
					<div class="span4">
						白雪飞
					</div>
					<div class="span4">
						正在约车
					</div>
				</div>

			</div>

			<div class="portal portalLarge">
				<div class="row-fluid">
					<div class="span8">
						学分制成绩
					</div>
					<div class="span4">
						更多
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span4">
						高中2016届
					</div>
					<div class="span2">
						高一
					</div>
					<div class="span2">
						第一学期
					</div>
					<div class="span2">
						学段1
					</div>
				</div>

				<div class="row-fluid">
					<div class="span4">
						高中2016届
					</div>
					<div class="span2">
						高一
					</div>
					<div class="span2">
						第一学期
					</div>
					<div class="span2">
						学段2
					</div>
				</div>

				<div class="row-fluid">
					<div class="span4">
						高中2015届
					</div>
					<div class="span2">
						高二
					</div>
					<div class="span2">
						第一学期
					</div>
					<div class="span2">
						学段1
					</div>
				</div>

				<div class="row-fluid">
					<div class="span4">
						高中2016届
					</div>
					<div class="span2">
						高一
					</div>
					<div class="span2">
						第一学期
					</div>
					<div class="span2">
						学段2
					</div>
				</div>

				<div class="row-fluid">
					<div class="span4">
						高中2014届
					</div>
					<div class="span2">
						高三
					</div>
					<div class="span2">
						第一学期
					</div>
					<div class="span2">
						学段1
					</div>
				</div>
			</div>

			<div class="portal portalMiddle">

				<div class="row-fluid">
					<div class="span8">
						通知（3/20）
					</div>
					<div class="span4">
						更多
					</div>
				</div>

				<div class="row-fluid">
					<div class="span8">
						新学期教1教室安排
					</div>
					<div class="span4">
						2013-8-19
					</div>
				</div>

				<div class="row-fluid">
					<div class="span8">
						新高一班主任安排
					</div>
					<div class="span4">
						2013-8-18
					</div>
				</div>

				<div class="row-fluid">
					<div class="span8">
						暑假工作安排
					</div>
					<div class="span4">
						2013-7-10
					</div>
				</div>

				<div class="row-fluid">
					<div class="span8">
						期末考试安排
					</div>
					<div class="span4">
						2013-6-20
					</div>
				</div>

				<div class="row-fluid">
					<div class="span8">
						劳动节放假通知
					</div>
					<div class="span4">
						2013-4-25
					</div>
				</div>

			</div>

			<div class="portal portalMiddle">
				<div class="row-fluid">
					<div class="span12">
						学校链接
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span12">
						文化长廊
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						名师工作室
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						学科教学网
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						用户手册
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						图书管理系统
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						教师成长电子档案
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						德育论坛
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						教学录播系统
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						中国基础教育文献...
					</div>
				</div>

			</div>

			<div class="portal portalLarge">

				<div class="row-fluid">
					<div class="span8">
						超级任务
					</div>
					<div class="span4">
						更多
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span6">
						实验中学2013-2014年发展规划
					</div>
					<div class="span2">
						2013-1-1
					</div>
					<div class="span2">
						2013-1-15
					</div>
				</div>

				<div class="row-fluid">
					<div class="span6">
						校党总支各位教职员工阅读
					</div>
					<div class="span2">
						2012-10-9
					</div>
					<div class="span2">
						2012-10-30
					</div>
				</div>
			</div>

			<div class="portal portalLarge">
				<div class="row-fluid">
					<div class="span8">
						系统消息（2/30）
					</div>
					<div class="span4">
						更多
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span8">
						[文印申请审核] 白雪提交了一个新申请
					</div>
					<div class="span4">
						2013-8-21 13：30
					</div>
				</div>

				<div class="row-fluid">
					<div class="span8">
						[课题申请审批] 王贤提交了一个新申请
					</div>
					<div class="span4">
						2013-8-20 8：45
					</div>
				</div>
			</div>

			<div class="portal portalMiddle">

				<div class="row-fluid">
					<div class="span12">
						手机短信
					</div>
					<hr/>
					<hr/>
				</div>

				<div style="width:200px;height:100px;background:blank;border:2px solid #888888"></div>

				<div style="float:right">
					<button type="button"class="btn"data-toggle="collapse">
						发送
					</button>
				</div>

				<div style="float:right">
					<button type="button"class="btn"data-toggle="collapse">
						重置
					</button>
				</div>
			</div>

			<div class="portal portalLarge">
				<div class="row-fluid">
					<div class="span12">
						模考查询
					</div>
					<hr/>
					<hr/>
				</div>

				<div class="row-fluid">
					<div class="span2">
						年份
					</div>
					<select class="span2">
						<option>2013</option>
						<option>2012</option>
						<option>2011</option>
						<option>2010</option>
						<option>2009</option>
					</select>
				</div>

				<div class="row-fluid">
					<div class="span4">
						科目
					</div>
				</div>

				<form>
					<input type="radio" name="subject" value="文科" />
					文科
					<br />
					<input type="radio" name="subject" value="理科" />
					理科
				</form>

				<div class="row-fluid">
					<div class="span2">
						考试类型
					</div>

					<div class="btn-toolbar" style="margin: 0;">
						<div class="btn-group">
							<button class="btn">
								模考
							</button>
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span4">
						分析类型
					</div>
				</div>

				<form>
					<input type="radio" name="subject" value="分数" />
					分数
					<br />
					<input type="radio" name="subject" value="名次" />
					名次
				</form>

				<div>
					<button class="btn btn-Middle btn-primary" type="button">
						查询
					</button>
				</div>

			</div>

			<div class="portal portalLarge">

				<table border= "3px"bordercolor= "0x4C96FF" align="center" width="600">

					<tr>
						<td colspan="1" align="center">课程表</td>
						<td colspan="2" align="center">高一1班</td>
						<td colspan="2" align="center">高一2班</td>
						<td colspan="1" align="center">第一周</td>
					</tr>

					<tr>
						<th>节次/周</th>
						<th>一</th>
						<th>二</th>
						<th>三</th>
						<th>四</th>
						<th>五</th>
					</tr>

					<tr>
						<td rowspan = "4">上午</td>
						<td>语文</td>
						<td>英语</td>
						<td>数学</td>
						<td>历史</td>
						<td>语文</td>
					</tr>

					<tr>
						<td>数学</td>
						<td>语文</td>
						<td>生物</td>
						<td>英语</td>
						<td>数学</td>
					</tr>

					<tr>
						<td>英语</td>
						<td>数学</td>
						<td>地理</td>
						<td>信息</td>
						<td>化学</td>
					</tr>

					<tr>
						<td>待定</td>
						<td>化学</td>
						<td>计算机</td>
						<td>劳技</td>
						<td>音乐</td>
					</tr>

					<tr>
						<td rowspan = '2'>下午</td>
						<td>物理</td>
						<td>美术</td>
						<td>音乐</td>
						<td>数学</td>
						<td>英语</td>
					</tr>

					<tr>
						<td>化学</td>
						<td>待定</td>
						<td>政治</td>
						<td>待定</td>
						<td>待定</td>
					</tr>
				</table>

			</div>

		</div>
				
				
		</section>

			
			<footer id="footer-sub" class="clearfix">
			
				<div class="one_third">
					<p>© Copyright Shadowbox. All Rights Reserved. </p>
				</div>
				
				<div class="two_third last">
					<ul>
						<li>
							<a href="./ShadowBox - Home.html">Homepage</a>
						</li>
						<li>
							<a href="http://www.madeinebor.com/shadowbox/portfolio.html">Portfolio</a>
						</li>
						<li>
							<a href="http://www.madeinebor.com/shadowbox/blog.html">Blog</a>
						</li>
						<li>
							<a href="http://www.madeinebor.com/shadowbox/index.html#">Pages</a>
						</li>
						<li>
							<a href="http://www.madeinebor.com/shadowbox/index.html#">Features</a>
						</li>
						<li>
							<a href="http://www.madeinebor.com/shadowbox/contact.html">Contact</a>
						</li>
					</ul>
				</div>
			
			</footer>
			
		</div>

<!--LOAD SCRIPTS-->		

<script type="text/javascript" src="/js/lib/jquery.js"></script>

<script type="text/javascript" src="/js/lib/jquery/jquery-ui.min.js"></script>

<script src="/js/lib/jquery/jquery.themepunch/jquery.themepunch.plugins.min.js"></script> 
<script src="/js/lib/jquery/jquery.themepunch/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery/jquery.isotope/jquery.isotope.min.js"></script>
<script src="./tabs.js"></script> 
<script src="./touch-swipe.js"></script> 
<script src="./ebor_carousel.js"></script> 
<script type="text/javascript" src="/template/portal/custom.js></script>

</body></html>