<div class="social-box">
	<div class="header">
		<h4>
			<strong>邮件</strong>
		</h4>
	</div>
	<div class="body">
		<!-- 邮件Inbox 和 List -->
		<div class="row-fluid">
			<div class="body">
				<div class="row-fluid">
					<!-- BEGIN LEFT PANEL -->
					<div class="span2 left-inbox">
						<div>
							<button type="button"
								class="btn btn-primary receiveMail-button btn-small">
								<i class="icon-download-alt"></i> 收信
							</button>
							<button type="button"
								class="btn btn-primary compose-button btn-small">
								<i class="icon-edit"></i> 写信
							</button>
						</div>
						<div class="social-nav-list mailboxMenu">
							<ul class="nav nav-list dividers">
								<li class="active"><a href=""><i class="icon-inbox"></i> 收件箱(2)</a></li>
								<li><a href=""><i class="icon-inbox"></i> 班级(2)</a></li>
								<li><a href=""><i class="icon-inbox"></i> 家长(3)</a></li>
								<li><a href=""><i class="icon-signin"></i> 已发送</a></li>
								<li><a href=""><i class="icon-file-alt"></i> 草稿箱</a></li>
								<li><a href=""><i class="icon-trash"></i> 垃圾箱</a></li>
							</ul>
						</div>
						<div class="social-nav-list">
							<ul class="nav nav-list dividers">
								<li><a href=""><i class="icon-inbox"></i> 个人通讯录</a></li>
							</ul>
						</div>
						<hr/>
						<div class="progress progress-info">
                          <div class="bar" style="width: 40%;"></div>
                        </div>
						<span>40% [400M/1000M]<br/>附件大小：2G</span>
					</div>
					<!-- END LEFT PANEL -->
					<!-- BEGIN RIGHT PANEL -->
					<div class="span10 right-inbox">
						<div id="mailContainer">邮件</div>
					</div>
					<!-- END RIGHT PANEL -->
				</div>
			</div>
		</div>
	</div>
</div>
</div>