<!-- BEGIN HEADER INBOX -->
<div class="header">
	<a href="#" class="btn btn-small btn-success"><i class="icon-reply"></i>
		回复</a> <a href="#" class="btn btn-small"><i class="icon-share-alt"></i>
		转发</a> <a href="#" class="btn btn-small"> 删除邮件</a> <a href="#"
		class="btn btn-small btn-danger"> 彻底删除</a> <a href="#"
		class="btn btn-small"><i class="icon-refresh"></i> 查询往来信</a>

	<div class="tools">
		<div class="btn-group">
			<a href="#" class="btn btn-small"><i class="icon-chevron-left"></i>
				上一封</a> <a href="#" class="btn btn-small"><i
				class="icon-chevron-right"></i> 下一封</a>
		</div>
	</div>
</div>
<!-- END HEADER INBOX -->
<div class="body">
	<dl class="dl-horizontal">
		<dt>主题</dt>
		<dd>关于安全保卫工作的一些建议</dd>
		<dt>发件人</dt>
		<dd>白雪飞 <a class="btn btn-mini pull-right"><i class="icon-plus"></i> 添加到联系组</a></dd>
	</dl>
	<hr />
	<span>时至年底，全县各种不稳定因素增加，治安形势比较严峻。加强值班工作，加强安全保卫工作显得尤为重要。
	然而，近一段时间以来，我县一些单位和乡镇在机关值班和安全保卫方面存在一些问题。有的单位平时不安排值班，
	公休日、节假日期间更是无人在岗，值班制度形同虚设；有的单位领导不带班，只有一般工作人员守摊子；还有的单
	位连值班室、值班电话都没有设立，有些单位和乡镇安全保卫工作制度不落实，管理松懈，导致发生入室盗窃等问题。
	针对这些情况，现就进一步加强值班、做好机关安全保卫工作提出如下要求：
		<br/>
		一、提高思想认识，加强组织领导。
		<br/>
		二、采取有效措施，落实完善制度。
		<br/>
		三、强化监督检查，严肃追究责任。
	<hr/>
	附件： 

</div>
<div class="footer">
	<a href="#" class="btn btn-small btn-success"><i class="icon-reply"></i>
		回复</a> <a href="#" class="btn btn-small"><i class="icon-share-alt"></i>
		转发</a> <a href="#" class="btn btn-small"> 删除邮件</a> <a href="#"
		class="btn btn-small btn-danger"> 彻底删除</a> <a href="#"
		class="btn btn-small"><i class="icon-refresh"></i> 查询往来信</a>
</div>
