
<div class="social-box">
 <div class="header">
   <h4><span>学校</span>功能角色维护</h4>
		<div class="pull-right">
			<button class="btn btn-success btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class="icon-plus"></i> 创建角色
			</button>
			<button class="btn btn-success btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-print"></i> 打印
			</button>

		</div>
	</div>
	<div class="body">

		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>功能</th>
					<th>权限</th>					
					<th>负责人</th>
					<th>教师</th>
					<th>主任</th>
					<th><input type="text" value="" class="input-small"/></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2">校园通知</td>
					<td>发布通知</td>
					<td><i class="icon-ok text-success"/></td>
					<td><i class="icon-remove text-error"/></td>
					<td><i class="icon-ok text-success"/></td>
					<td><input type="checkbox" /></td>
				</tr>
				<tr>
					
					<td>通知管理</td>
					<td><i class="icon-ok text-success"/></td>
					<td><i class="icon-ok text-success"/></td>
					<td><i class="icon-remove text-error"/></td>
					<td><input type="checkbox" /></td>
				</tr>
				
			</tbody>
		</table>


	</div>