<div class="row-fluid" id="detail">
<div class="span1" >
  <ul id="lTree" class="nav">
<li class="treeLeaf">
 <i class="icon-user"></i><span> 白雪飞</span>
</li>
<li class="treeLeaf">
<i class="icon-user"></i><span> 杜杨</span>
</li>
<li class="treeLeaf">
<i class="icon-user"></i><span> 黎明</span>
</li>
<li class="treeLeaf">
<i class="icon-user"></i><span> 杨凌</span>
</li>
<li class="treeLeaf">
<i class="icon-user"></i><span> 黎明1</span>
</li>
</ul>
</div>


<div class="span11">
<div >
	 <button type="button"	class="btn btn-success btn-small pull-left btn-addbybatch">
		<i class="icon-plus"></i> 批量导入教师
		</button> &nbsp; &nbsp; &nbsp;  
 <button type="button"	class="btn btn-success btn-small pull-left btn-additem">
			<i class="icon-plus"></i> 添加新教师
	</button>
	</div>
<div  id="teacherinf">
	
</div>


</div>
</div>

<div id="addbatch" style="display:none">
  <pre class="text-error">1.请先下载Excel模板文件（点击选择框下的“下载模板”），并将其另存为一个新文件； 
2.在该文件中输入教师信息，或将其他Excel文件中的信息拷贝粘贴到这个文件，注意遵守以下限制条件： 
    a. 第一列和第三列，即“教工号”、“真实姓名”不能为空；
    b. “出生年月日”应该遵守“yyyy-MM-dd”的格式；
    c. “户口类型”，“身体状况”，“政治面貌”，“性别”，“婚姻情况”，“职称”，需从下拉列表中选择；
    d. “学历”，“专业证书”，“类别”，“在职标志”，“职务”，“普通话水平”，也只能从下拉列表中选择；
    e. 请勿修改第一行的内容；
3.信息整理完毕后，保存该文件； 
4.点击“浏览”按钮，并选择该文件； 
5.点击“确定”按钮，因为数据量较大，处理时间可能较长，请耐心等待，如果出错，请按照提示进行修改；
6.导入的文件中，第一次出现的教师将被填入到系统中，如果教师已经被添加过，则以该教师教工号为准，用文件中
  的信息覆盖原有信息。
</pre>
<div>
 <span class="text-error">请选择导入的文件（excel文件）：</span>
 <div class="row-fluid fileupload-buttonbar">
                                      <div >
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn  fileinput-button">
                                          <i class="icon-plus icon-white"></i>
                                          <span>选择导入文件</span>
                                          <input type="file" name="files" multiple>
                                         
                                        </span>
                                        </div>
                                         <span class="text-info">下载模板</span>
</div>
<div class="row-fluid">
 <div class="span9 offset3">
 <button type="button"	class="btn btn-success btn-back">
			确定
	</button>
 <button type="button"	class="btn btn-success btn-back">
			取消
	</button>
 </div>
</div>
</div>