<div class="row-fluid">
  <div class="span10 offset2">
  
  <span class="text-error">照片必须为zip包，
其中图片为jpg或gif类型，以职工号为教师的照片名,都不可包含中文！
</span>
<div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
<!--                 <img src="../../assets/img/pages/user-profiles/avatar.png" alt="Selected image"/> -->
              </div>
            
              <div>
               
                  <span class="fileupload-new">选择图片</span>
<!--                   <span class="fileupload-exists">修改</span> -->
                  <input type="file" />
               
               
              </div>
            

  </div>
</div>