<div class="social-box">
	<div class="header">
		 <h4>部门负责人列表</h4>
		 <div class="pull-right">
			
			<button class="btn btn-success btn-small" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-print"></i> 打印
			</button>

		</div>
	</div>
	<div class="body">
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>序号</th>
					<th>教师姓名</th>					
					<th>职务名称</th>
					<th>职务类型</th>
					<th>调入日期</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>					
					<td>1</td>
					<td><a href="#" class="personname">白雪非</a></td>
					<td></td>
					<td>小组长</td>
					<td>2012-10-12</td>
				</tr>
				<tr>
					<td>2</td>
					<td><a href="#" class="personname">刘一平</a></td>
					<td>负责人</td>
					<td>组长</td>
					<td>2011-10-12</td>
				</tr>
				
			</tbody>
		</table>

	</div>
