<div class="row-fluid">

<div class="social-box">

	<div class="body">
	<ul id="myTab" class="nav nav-tabs">
				        <li class="active"><a class="active" href="#basic"
					data-toggle="tab"><i class=" icon-edit"></i> 教师信息自我完善设置 </a></li>
						
						<li><a href="#advanced" data-toggle="tab"><i
						class="  icon-hand-right"></i> 教师信息公开设置</a></li>
						
			</ul>
		<div id="myTabContent" class="tab-content">
			
			<div class="tab-pane fade in active" id="basic">
					
<div class="social-box">
	<div class="header">
		 <div >
								<div class="pull-left">
									<span class="text-error">当前状态：</span><span class="text-error"
										id="status">关闭</span>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success btn-small currentstatus"
										data-toggle="collapse">开放</button>
								</div>
								<div class="pull-right">

									<button class="btn btn-success btn-small selectall"
										data-toggle="collapse">
										<i class=" icon-check"></i> 全选
									</button>
									<button class="btn btn-success btn-small unselectall"
										data-toggle="collapse">
										<i class=" icon-remove-circle"></i> 反选
									</button>
									<button class="btn btn-success btn-small save"
										data-toggle="collapse">
										<i class=" icon-hdd"></i> 保存
									</button>
								</div>

							</div>
		 
	</div>
	<div class="body">
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>序号</th>
					<th>教师属性</th>					
					<th>是否可编辑</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>					
					<td>1</td>
					<td>姓名</td>
					<td><input type="checkbox" value="1"/></td>					
				</tr>
				<tr>					
					<td>2</td>
					<td>姓名拼音</td>
					<td><input type="checkbox" value="2"/></td>					
				</tr>
				<tr>					
					<td>3</td>
					<td>性别</td>
					<td><input type="checkbox" value="3"/></td>					
				</tr>
				<tr>					
					<td>4</td>
					<td>证件类型</td>
					<td><input type="checkbox" value="4"/></td>					
				</tr>
				<tr>					
					<td>5</td>
					<td>民族</td>
					<td><input type="checkbox" value="5"/></td>					
				</tr>
			</tbody>
		</table>

	</div>
</div>

				
				</div>
			<div class="tab-pane fade" id="advanced">
				<div class="social-box">
	<div class="header">
		 
		 <div class="pull-right">
			
			<button class="btn btn-success btn-small selectall" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-check"></i> 全选
			</button>
			<button class="btn btn-success btn-small unselectall" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-remove-circle"></i> 反选
			</button>
            <button class="btn btn-success btn-small save" data-toggle="collapse"
				data-target="#advanced-search">
				<i class=" icon-hdd"></i> 保存
			</button>
		</div>
	</div>
	<div class="body">
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>序号</th>
					<th>教师属性</th>					
					<th>是否公开</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>					
					<td>1</td>
					<td>姓名</td>
					<td><input type="checkbox"/></td>					
				</tr>
				<tr>					
					<td>2</td>
					<td>姓名拼音</td>
					<td><input type="checkbox"/></td>					
				</tr>
				<tr>					
					<td>3</td>
					<td>性别</td>
					<td><input type="checkbox"/></td>					
				</tr>
				<tr>					
					<td>4</td>
					<td>证件类型</td>
					<td><input type="checkbox"/></td>					
				</tr>
				<tr>					
					<td>5</td>
					<td>民族</td>
					<td><input type="checkbox"/></td>					
				</tr>
			</tbody>
		</table>

	</div>
</div>
				
			</div>
			
		</div>


	</div>
</div>




