<div class="row-fluid">
	<div class="social-box span12">
		<div class="body">
			<ul id="myTab" class="nav nav-tabs">
					<li class="active">
						<a href="#home" data-toggle="tab"> <i class="icon-home"></i> 单次查看</a>
					</li>
					<li>
						<a href="#profile" data-toggle="tab"> <i class="icon-list-alt"></i> 综合查看</a>
					</li>
				</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="home"></div>
				<div class="tab-pane fade" id="profile"></div>
			</div>
		</div>
	</div>
</div>