<div class="tab-pane fade in active" id="home">
	<div class="row-fluid">
		<div class="span3 offset2">套账:
			<select class="input-medium">
				<option>全部套账</option>
				<option>在职教师基本工资</option>
				<option>在职教师补贴</option>
			</select>
		</div>
		<div class="span3">工资条:
			<select class="input-medium">
				<option>2013年7月</option>
				<option>2013年6月</option>
			</select>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-primary btn-sure">
					确定
				</button>
			</div>
		</div>
	<hr />
	<div class="row-fluid">
		<div class="span12" style="text-align: center;"><h4>2013年7月</h4></div>
	</div>
	<div class="row-fluid">
		<div class="span12" style="text-align: center;"><h5>(全部套账)</h5></div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="span6 offset2">姓名: 白雪飞&nbsp;&nbsp;&nbsp;用户编号: 1982005&nbsp;&nbsp;&nbsp;财务编号: 2209001088
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2 offset2">备注：</div>
		<div class="span6">
			<div class="pull-right">
				<button class="btn btn-primary btn-small">
					<i class=" icon-print"></i> 打印
				</button>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8 offset2" style="text-align: center;">
			<table class="table table-bordered table-condensed table-hover">
				<thead>
					<tr class="headColor">
						<th width="35%">分类</th>
						<th width="35%">工资条目</th>
						<th>内容</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>基本工资</td>
						<td>岗位工资</td>
						<td class="inRight">2,000.00</td>
					</tr>
					<tr>
						<td rowspan="4" style="vertical-align:middle;">津贴</td>
						<td>薪级工资</td>
						<td class="inRight">500.00</td>
					</tr>
					<tr>
						<td>住房补贴</td>
						<td class="inRight">200.00</td>
					</tr>
					<tr>
						<td>优秀教师奖励</td>
						<td class="inRight">3,000.00</td>
					</tr>
					<tr>
						<td>数字教学评优</td>
						<td class="inRight">1,000.00</td>
					</tr>
					<tr>
						<td rowspan="3" style="vertical-align:middle;">课时费</td>
						<td>课时费1</td>
						<td class="inRight">20.00</td>
					</tr>
					<tr>
						<td>课时数</td>
						<td class="inRight">50</td>
					</tr>
					<tr>
						<td>课时费合计</td>
						<td class="inRight">1,000.00</td>
					</tr>
					<tr>
						<td>基本工资</td>
						<td>班主任津贴</td>
						<td class="inRight">1,000.00</td>
					</tr>
					<tr>
						<td colspan="2">实发工资</td>
						<td class="inRight">7,700.00</td>
					</tr>
					<tr>
						<td colspan="2">发放银行</td>
						<td>存入工行账户</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>