<div class="social-box social-bordered">
	<div class="header">
		<h4 class="accountName"><strong>套账管理</strong></h4>
		<div class="tools">
			<button class="btn btn-success pull-right newaccount">
			<i class="icon-cog"></i>	新建套账
			</button>
		</div>
	</div>
	<div class="body">
		<div class="list">
			<div class="row-fluid">
				<div class="span10 offset1">
					<table class="table table-hover table-bordered table-condensed">
						<thead>
							<tr>
								<th>序号</th>
								<th>套账名称</th>
								<th>套账管理员</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>教师基本工资</td>
								<td>白雪芹，吴成恩</td>
								<td>
								<button class="btn btn-mini edit">
									修改
								</button>
								<button class="btn btn-mini">
									删除
								</button></td>
							</tr>
							<tr>
								<td>2</td>
								<td>退休教师基本工资</td>
								<td>李燕琼，杨文海，谢铮</td>
								<td>
								<button class="btn btn-mini">
									修改
								</button>
								<button class="btn btn-mini">
									删除
								</button></td>
							</tr>
							<tr>
								<td>3</td>
								<td>临时工基本工资</td>
								<td>杨文海</td>
								<td>
								<button class="btn btn-mini">
									修改
								</button>
								<button class="btn btn-mini">
									删除
								</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="addnew" style="display: none;">
			<form action="#" class="form-horizontal">
				<div class="control-group">
					<label class="control-label">套账名称</label>
					<div class="controls">
						<input type="text" name="name" class="input-medium" value=""/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">套账管理员</label>
					<div class="controls">
						<div class="input-append date">
							<input type="text" class="input-medium" placeholder="TODO:选人框" />
							<span class="add-on"> <i
								class="icon-group"> </i> </span>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<button type="button" class="btn btn-primary save">
						确定
					</button>
					<button type="button" class="btn btn-danger return">
						取消
					</button>
				</div>
			</form>
		</div>
	</div>
</div>