<div class="row-fluid">
			<button class="btn btn-small pull-right">添加新项目</button>
         </div>
				<table class="table table-hover table-bordered table-condensed">
					<thead>
						<tr>
							<th>序号</th>
							<th>项目名称</th>
							<th>启用</th>
							<th>累加</th>
							<th>类型</th>
							<th>备注</th>
							<th>分类</th>
							<th>列表中的顺序</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<tr>
							<td></td>
							<td><input type="text" value="" style="width:100px"/></td>
							<td><input type="checkbox" checked/></td>
							<td><input type="checkbox" /></td>
							<td><select style="width:100px">
							<option>数字</option>
							<option>文本</option>
							</select></td>
							<td><input type="text" value="" style="width:100px"/></td>
							<td><select style="width:100px">
							<option>基本工资</option>
							<option>单价</option>
							<option>补贴</option>
							</select></td>
							<td></td>
							<td>
								<button class="btn btn-mini btn-danger">保存</button>
								<button class="btn btn-mini">取消</button>
							</td>
						</tr>
						<tr>
							<td>1</td>
							<td>基本工资</td>
							<td>是</td>
							<td>是</td>
							<td>数字</td>
							<td></td>
							<td>基本工资</td>
							<td>
								<i class="icon-arrow-up"></i>
								<i class="icon-arrow-down"></i>
								<input class="pull-right" style="width:50px" placeholder="移到"></input>
							</td>
							<td>
								<button class="btn btn-mini">修改</button>
								<button class="btn btn-mini">删除</button>
							</td>
						</tr>
    					<tr>
							<td>2</td>
							<td>课时费1</td>
							<td>-</td>
							<td>-</td>
							<td>数字</td>
							<td></td>
							<td>单价</td>
							<td>
								<i class="icon-arrow-up"></i>
								<i class="icon-arrow-down"></i>
								<input class="pull-right" style="width:50px" placeholder="移到"></input>
							</td>
							<td>
								<button class="btn btn-mini">修改</button>
								<button class="btn btn-mini">删除</button>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>发放银行</td>
							<td>-</td>
							<td>-</td>
							<td>文本</td>
							<td></td>
							<td>银行账户</td>
							<td>
								<i class="icon-arrow-up"></i>
								<i class="icon-arrow-down"></i>
								<input class="pull-right" style="width:50px" placeholder="移到"></input>
							</td>
							<td>
								<button class="btn btn-mini">修改</button>
								<button class="btn btn-mini">删除</button>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td><input type="text" value="课时数" style="width:100px"/></td>
							<td><input type="checkbox" checked/></td>
							<td><input type="checkbox" /></td>
							<td>数字</td>
							<td><input type="text" value="补课的课时" style="width:100px"/></td>
							<td><select style="width:100px">
							<option>基本工资</option>
							<option>单价</option>
							<option>补贴</option>
							</select></td>
							<td>
								<i class="icon-arrow-up"></i>
								<i class="icon-arrow-down"></i>
								<input class="pull-right" style="width:50px" placeholder="移到"></input>
							</td>
							<td>
								<button class="btn btn-mini btn-danger">保存</button>
								<button class="btn btn-mini">取消</button>
							</td>
						</tr>
					</tbody>
				</table>