<div id="showNumber">
	<div class="row-fluid">
		<div class="pull-right">
			<button class="btn btn-small editPeopleNum">编辑财务编号</button>
			<button class="btn btn-small">打印</button>
		</div>
	</div>
	<table class="table table-hover table-bordered table-condensed">
		<thead>
			<tr>
				<th>序号</th>
				<th>教工号</th>
				<th>姓名</th>
				<th>财务编号</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>1002</td>
				<td>白雪飞</td>
				<td>11022319530919061X</td>
			</tr>
			<tr>
				<td>2</td>
				<td>1003</td>
				<td>徐华</td>
				<td>110102195511033354</td>
			</tr>
			<tr>
				<td>3</td>
				<td>1004</td>
				<td>陈寅</td>
				<td>110223196411040575</td>
			</tr>
			<tr>
				<td>4</td>
				<td>1006</td>
				<td>吴云瑟</td>
				<td>130228196404020088</td>
			</tr>
			<tr>
				<td>5</td>
				<td>1007</td>
				<td>白雪飞</td>
				<td>152601196411061053</td>
			</tr>
		</tbody>
	</table>
</div>

<div id="editNumber" style="display: none;">
	<div class="row-fluid">
		<div class="pull-right">
			<button class="btn btn-small ">保存</button>
			<button class="btn btn-small ">批量导入财务编号</button>
			<button class="btn btn-small  btn-danger">财务号与教工号相同</button>
			<button class="btn btn-small  returnShow">取消并返回</button>
		</div>
	</div>
	<table class="table table-hover table-bordered table-condensed">
		<thead>
			<tr>
				<th>序号</th>
				<th>教工号</th>
				<th>姓名</th>
				<th>财务编号</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>1002</td>
				<td>白雪飞</td>
				<td><input type="text" style="width: 300px"
					value="11022319530919061X" /></td>
			</tr>
			<tr>
				<td>2</td>
				<td>1003</td>
				<td>徐华</td>
				<td><input type="text" style="width: 300px"
					value="110102195511033354" /></td>
			</tr>
			<tr>
				<td>3</td>
				<td>1004</td>
				<td>陈寅</td>
				<td><input type="text" style="width: 300px"
					value="110223196411040575" /></td>
			</tr>
			<tr>
				<td>4</td>
				<td>1006</td>
				<td>吴云瑟</td>
				<td><input type="text" style="width: 300px"
					value="130228196404020088" /></td>
			</tr>
			<tr>
				<td>5</td>
				<td>1007</td>
				<td>白雪飞</td>
				<td><input type="text" style="width: 300px"
					value="152601196411061053" /></td>
			</tr>
		</tbody>
	</table>
</div>