
<div class="rowfluid">
	<div class="header">
		<h4>操作提示</h4>
	</div>
	<div class="body text-error">
		<p>1.在该文件中输入姓名,财务编号，工资条目信息或将其他Excel文件中的信息拷贝粘贴到这个文件Excel;第一行为：
			姓名，财务编号,工资条目1，工资条目2等(来源于初始化工资条目);财务编号不能重复。</p>
		<p>2. 对同一次工资，可以重复导入，分批导入，重复导入时 相同工资条目 覆盖</p>
		<p>3.信息整理完毕后，保存该文件；</p>
		<p>4.点击“浏览”按钮，并选择该文件；</p>
		<p>5.点击“确定”按钮。因为数据量较大，处理时间可能较长，请耐心等待。如果出错，请按照提示进行修改。</p>
	</div>
</div>


<div class="header">
	<h4>请选择导入的文件（excel文件）：</h4>
</div>
<div class="row-fluid">
	<div class="span6 offset3">
		<form>
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>Excel文件列头</th>
						<th>数据库模板列头</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="icon-upload"></i></td>
						<td>财务编号</td>
						<td><select name="tittle_1" id="tittle_1" class="inputYield">
								<option value="0">未匹配</option>
								<option value="financeSn" selected>财务编号(必须匹配)</option>
								<option value="teacherName">姓名(必须匹配)</option>
								<option value="20401">基本工资</option>
								<option value="45502">工资类型1</option>
								<option value="20402">加班费</option>
								<option value="45701">项目001</option>
								<option value="20403">出勤资金1</option>
								<option value="20405">交通补助1</option>
								<option value="20404">通话补助</option>
								<option value="21101">文本工资</option>
								<option value="46001">交通费</option>
						</select></td>

					</tr>
					<tr>
						<td><i class="icon-upload"></i></td>
						<td>姓名</td>
						<td><select name="tittle_1" id="tittle_1" class="inputYield">
								<option value="0">未匹配</option>
								<option value="financeSn" selected>财务编号(必须匹配)</option>
								<option value="teacherName" selected>姓名(必须匹配)</option>
								<option value="20401">基本工资</option>
								<option value="45502">工资类型1</option>
								<option value="20402">加班费</option>
								<option value="45701">项目001</option>
								<option value="20403">出勤资金1</option>
								<option value="20405">交通补助1</option>
								<option value="20404">通话补助</option>
								<option value="21101">文本工资</option>
								<option value="46001">交通费</option>
						</select></td>
					</tr>
					<tr>
						<td><i class="icon-upload"></i></td>
						<td>项目01</td>
						<td><select name="tittle_1" id="tittle_1" class="inputYield">
								<option value="0">未匹配</option>
								<option value="financeSn" selected>财务编号(必须匹配)</option>
								<option value="teacherName">姓名(必须匹配)</option>
								<option value="20401">基本工资</option>
								<option value="45502">工资类型1</option>
								<option value="20402">加班费</option>
								<option value="45701" selected>项目001</option>
								<option value="20403">出勤资金1</option>
								<option value="20405">交通补助1</option>
								<option value="20404">通话补助</option>
								<option value="21101">文本工资</option>
								<option value="46001">交通费</option>
						</select></td>
					</tr>
					<tr>
						<td><i class="icon-upload"></i></td>
						<td>基本工资</td>
						<td><select name="tittle_1" id="tittle_1" class="inputYield">
								<option value="0">未匹配</option>
								<option value="financeSn" selected>财务编号(必须匹配)</option>
								<option value="teacherName">姓名(必须匹配)</option>
								<option value="20401" selected>基本工资</option>
								<option value="45502">工资类型1</option>
								<option value="20402">加班费</option>
								<option value="45701">项目001</option>
								<option value="20403">出勤资金1</option>
								<option value="20405">交通补助1</option>
								<option value="20404">通话补助</option>
								<option value="21101">文本工资</option>
								<option value="46001">交通费</option>
						</select></td>
					</tr>
					<tr>
						<td><i class="icon-upload"></i></td>
						<td>加班费</td>
						<td><select name="tittle_1" id="tittle_1" class="inputYield">
								<option value="0">未匹配</option>
								<option value="financeSn" selected>财务编号(必须匹配)</option>
								<option value="teacherName">姓名(必须匹配)</option>
								<option value="20401">基本工资</option>
								<option value="45502">工资类型1</option>
								<option value="20402" selected>加班费</option>
								<option value="45701">项目001</option>
								<option value="20403">出勤资金1</option>
								<option value="20405">交通补助1</option>
								<option value="20404">通话补助</option>
								<option value="21101">文本工资</option>
								<option value="46001">交通费</option>
						</select></td>
					</tr>
					<tr>
						<td><i class="icon-upload"></i></td>
						<td>交通费</td>
						<td><select name="tittle_1" id="tittle_1" class="inputYield">
								<option value="0">未匹配</option>
								<option value="financeSn" selected>财务编号(必须匹配)</option>
								<option value="teacherName">姓名(必须匹配)</option>
								<option value="20401">基本工资</option>
								<option value="45502">工资类型1</option>
								<option value="20402">加班费</option>
								<option value="45701">项目001</option>
								<option value="20403">出勤资金1</option>
								<option value="20405">交通补助1</option>
								<option value="20404">通话补助</option>
								<option value="21101">文本工资</option>
								<option value="46001" selected>交通费</option>
						</select></td>
					</tr>

				</tbody>
			</table>
			<div class="span4 offset3">
				<button class="btn btn-primary">确定</button>
				&nbsp;&nbsp;
				<button class="btn btn-primary">取消</button>
			</div>
		</form>
	</div>
</div>

