<div class="social-box social-bordered">
	<div class="header">
		<h4><strong>查看工资条</strong></h4>
	</div>
	<div class="body">
		<div class="row-fluid">
			<div class="span4">
				<span class="text-info">当前套账：
				<select class="input-medium">
					<option>在职教师基本工资</option>
					<option>临时工基本工资</option>
					<option>校办企业津贴</option>
				</select></span>
			</div>
		</div>
		<div class="row-fluid">
			<div id="salaryListShow">
				<div class="row-fluid">
					<div class="span12" style="overflow-x: auto;">
						<div style="min-width: 1000px;">
							<table class="table table-bordered table-condensed">
								<thead>
									<tr class="headColor">
										<th width="40px">序号</th>
										<th>年度</th>
										<th>工资条名称</th>
										<th>起始时间</th>
										<th>结束时间</th>
										<th>发放时间</th>
										<th>发放人数</th>
										<th>发布状态</th>
										<th>备注</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>2013年</td>
										<td>4月工资</td>
										<td>2013-05-01</td>
										<td>2013-05-31</td>
										<td>2013-06-01</td>
										<td>50</td>
										<td>未发布</td>
										<td>5月15日发布</td>
										<td>
										<button class="btn btn-mini showSalaryDetail">
											查看工资条明细
										</button></td>
									</tr>
									<tr>
										<td>2</td>
										<td>2013年</td>
										<td>5月工资</td>
										<td>2013-05-01</td>
										<td>2013-05-31</td>
										<td>2013-06-01</td>
										<td>50</td>
										<td>未发布</td>
										<td>6月15日发布</td>
										<td>
										<button class="btn btn-mini showSalaryDetail">
											查看工资条明细
										</button></td>
									</tr>
									<tr>
										<td>3</td>
										<td>2013年</td>
										<td>6月工资</td>
										<td>2013-04-01</td>
										<td>2013-04-30</td>
										<td>2013-05-01</td>
										<td>50</td>
										<td>已发布</td>
										<td>7月15日发布</td>
										<td>
										<button class="btn btn-mini showSalaryDetail">
											查看工资条明细
										</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="salaryDetailShow" style="display: none;">
				<div class="row-fluid">
					<div class="span12">
						<div class="pull-right">
							<button class="btn btn-small btn-primary returnList">
								<i class="icon-reply"></i> 返回
							</button>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12" style="overflow-x: auto;">
						<div style="min-width: 1000px;">
							<table class="table table-hover table-bordered table-condensed">
								<thead>
									<tr class="headColor">
										<th width="40px">序号</th>
										<th>财务编号</th>
										<th>姓名</th>
										<th>基本工资</th>
										<th>加班费</th>
										<th>交通补助</th>
										<th>岗位工资</th>
										<th>薪级工资</th>
										<th>教龄津贴</th>
										<th>地区补贴</th>
										<th>岗位津贴</th>
										<th>骨干教师</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>1005</td>
										<td>白雪飞</td>
										<td style="text-align: right;">5,000.00</td>
										<td style="text-align: right;">3,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">2,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">600.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">1,000.00</td>
									</tr>
									<tr>
										<td>2</td>
										<td>1006</td>
										<td>张宏志</td>
										<td style="text-align: right;">4,000.00</td>
										<td style="text-align: right;">1,500.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">900.00</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>3</td>
										<td>1009</td>
										<td>徐华</td>
										<td style="text-align: right;">3,000.00</td>
										<td style="text-align: right;">2,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">100.00</td>
										<td style="text-align: right;">200.00</td>
										<td></td>
										<td></td>
										<td style="text-align: right;">300.00</td>
										<td style="text-align: right;">1,000.00</td>
									</tr>
									<tr>
										<td>4</td>
										<td>1011</td>
										<td>祁京生</td>
										<td style="text-align: right;">3,400.00</td>
										<td style="text-align: right;">1,200.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">700.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td></td>
										<td style="text-align: right;">1,000.00</td>
										<td></td>
										<td style="text-align: right;">1,000.00</td>
									</tr>
									<tr>
										<td>5</td>
										<td>1013</td>
										<td>陈寅</td>
										<td style="text-align: right;">4,500.00</td>
										<td style="text-align: right;">2,100.00</td>
										<td></td>
										<td style="text-align: right;">2,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td></td>
										<td style="text-align: right;">1,000.00</td>
										<td></td>
									</tr>
									<tr>
										<td>6</td>
										<td>1014</td>
										<td>孔泉</td>
										<td style="text-align: right;">1,100.00</td>
										<td style="text-align: right;">400.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td></td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">300.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">800.00</td>
										<td style="text-align: right;">1,000.00</td>
									</tr>
									<tr>
										<td>7</td>
										<td>1016</td>
										<td>吴云色</td>
										<td style="text-align: right;">700.00</td>
										<td style="text-align: right;">3,000.00</td>
										<td></td>
										<td style="text-align: right;">500.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td></td>
									</tr>
									<tr>
										<td>8</td>
										<td>1019</td>
										<td>王梅</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">3,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">1,000.00</td>
										<td></td>
										<td></td>
										<td></td>
										<td style="text-align: right;">1,000.00</td>
										<td style="text-align: right;">1,000.00</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
