<div class="row-fluid">
	<button class="btn btn-small pull-right">添加</button>
</div>
<table class="table table-hover table-bordered table-condensed">
	<thead>
		<tr>
			<th>序号</th>
			<th>名称</th>
			<th>备注</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td><input class="span12" value="" /></td>
			<td><input class="span12" value="" /></td>
			<td>
				<button class="btn btn-mini btn-danger">保存</button>
				<button class="btn btn-mini">取消</button>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td>基本工资</td>
			<td>-</td>
			<td>
				<button class="btn btn-mini">修改</button>
				<button class="btn btn-mini">删除</button>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td><input class="span12" value="补贴" /></td>
			<td><input class="span12" value="包含津贴" /></td>
			<td>
				<button class="btn btn-mini btn-danger">保存</button>
				<button class="btn btn-mini">取消</button>
			</td>
		</tr>

	</tbody>
</table>