<div class="social-box">
	<div class="body">
		<div class="row-fluid">
			<div class="span2">
				<h4>请选择套账：</h4>
			</div>
			<div class="span8">
				<ul class="nav nav-pills">
					<li class="active">
						<a href="#">教师基本工资</a>
					</li>
					<li>
						<a href="#">退休教师基本工资</a>
					</li>
					<li>
						<a href="#">临时工基本工资</a>
					</li>
				</ul>
			</div>
		</div>
		<ul id="myTab" class="nav nav-tabs nav-tabs-blue">
			<li class="active" id="showOrg">
				<a href="#editSalaryMain"
				data-toggle="tab"><i class="icon-tasks"></i> 工资条维护</a>
			</li>
			<li>
				<a href="#itemInitialize" data-toggle="tab"><i
				class="icon-cog"></i> 工资条目初始化</a>
			</li>
			<li>
				<a href="#financialCode" data-toggle="tab"><i
				class="icon-bookmark"></i> 财务编号初始化</a>
			</li>
			<li>
				<a href="#typeInitialize" data-toggle="tab"><i
				class="icon-screenshot"></i> 工资条目类型初始化</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="editSalaryMain"></div>
			<div id="itemInitialize" class="tab-pane"></div>
			<div id="financialCode" class="tab-pane"></div>
			<div id="typeInitialize" class="tab-pane"></div>
		</div>
	</div>
</div>


