<div class="social-box social-bordered">
	<div class="header">
		<h4><strong>发布工资</strong></h4>
		<div class="tools">
			<button class="btn btn-success pull-right newaccount">
				<i class="icon-cog"></i> 工资条设置
			</button>
		</div>
		<!-- <div class="btn-group selectAccount">
		<button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
		当前套账: <span class="accountStatus">在职教师基本工资 </span><span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
		<li>
		<a data-bypass>在职教师基本工资 </a>
		</li>
		<li>
		<a data-bypass>退休教师基本工资 </a>
		</li>
		<li>
		<a data-bypass>临时工基本工资 </a>
		</li>
		</ul>
		</div>
		</div>
		<div class="tools">
		<ul id="myTab" class="nav nav-tabs">
		<li class="active" id="showOrg">
		<a href="#editSalaryMain" data-bypass
		data-toggle="tab"><i class="icon-tasks"></i> 工资条维护</a>
		</li>
		<li>
		<a href="#itemInitialize" data-bypass data-toggle="tab"><i
		class="icon-cog"></i> 工资条目初始化</a>
		</li>
		<li>
		<a href="#financialCode" data-bypass data-toggle="tab"><i
		class="icon-bookmark"></i> 财务编号初始化</a>
		</li>
		<li>
		<a href="#typeInitialize" data-bypass data-toggle="tab"><i
		class="icon-screenshot"></i> 工资条目类型初始化</a>
		</li>
		</ul>
		</div>-->
	</div>
	<div class="body">
		<div class="row-fluid">
			<div id="editSalaryMain"></div>
			<!-- <div class="tab-content">
				<div class="tab-pane active" id="editSalaryMain"></div>
				<div id="itemInitialize" class="tab-pane"></div>
				<div id="financialCode" class="tab-pane"></div>
				<div id="typeInitialize" class="tab-pane"></div>
			</div> -->
		</div>
	</div>

