<div id="detail">
	<p>
		<strong>2013年 5月工资</strong>
	</p>

	<button class="btn btn-small pull-right">返回</button>
	<button class="btn btn-small pull-right btn-danger">工资条发布</button>
	<button class="btn btn-small pull-right" id="importbybatch">批量导入</button>
	<button class="btn btn-small pull-right">手工添加</button>

	<table class="table table-hover table-bordered table-condensed">
		<thead>
			<tr>
				<th>序号</th>
				<th>财务编号</th>
				<th>姓名</th>
				<th>基本工资</th>
				<th>加班费</th>
				<th>交通补助</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td><input type="text" class="input-small" value="" /></td>
				</td>
				<td><input type="text" class="input-small" value="" /></td>
				<td><input type="text" class="input-small" value="" /></td>
				<td><input type="text" class="input-small" value="" /></td>
				<td>
					<button class="btn btn-mini btn-danger">保存</button>
					<button class="btn btn-mini">取消</button>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>1982005</td>
				<td>白雪飞</td>
				<td>5000.00</td>
				<td>3000.00</td>
				<td>1000.00</td>
				<td>
					<button class="btn btn-mini">修改</button>
					<button class="btn btn-mini">删除</button>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>1982009</td>
				<td>何有求</td>
				<td><input type="text" class="input-small" value="5000.00" /></td>
				<td><input type="text" class="input-small" value="3000.00" /></td>
				<td><input type="text" class="input-small" value="2000.00" /></td>
				<td>
					<button class="btn btn-mini btn-danger">保存</button>
					<button class="btn btn-mini">取消</button>
				</td>
			</tr>

		</tbody>
	</table>

</div>
<div id="addNewItems" style="display: none"></div>